
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.logoutButton {
  margin-top: 6px;
}

.optionInfo {
  color: #0b0;
}

.addUniversityInput {
  min-width: 80%;
}