
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$border-color: #2a978e;

.logoutButton {
  margin-top: 6px;
}

.optionInfo {
  color: #0b0;
}

.addUniversityLabel {
  box-sizing: border-box;
  margin-left: 4%;
}

.addUniversityInput {
  box-sizing: border-box;
  min-width: 80%;
  margin-left: 1%;
}

.addUniversity {
  margin-bottom: 28px;
}

.universityTitle {
  font-size: 18px;
}

.instructorRespondentCount {
  display: inline-block;
  font-size: 14px;
}

.instructorOptionList {
  box-sizing: border-box;
  padding: 4px 5px 4px 15px;
}


.instructorOptionList:hover {
  background: #dcdcdc;
}

.newInstructorField {
  min-width: 26%;
}

.panel {
  border: 3px solid $border-color;
  border-radius: 0;
}

.section-head {
  color: $border-color;
  font-weight: bold;
}

.copyAddressOptions, .copyAddressHome {
  display: inline-block;
  margin-left: 15px;
}

.copyAddressHome {
  font-size: 18px;
  color: $border-color;
}

.navbar {
  border-bottom: 3px solid $border-color;
}

.btn {
  border-radius: 0;
}

.hiddenLink {
  width: 0;
  height: 0;
  opacity: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.copySuccess, .optionSuccess {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.optionSuccess {
  display: block;
}

.manualUniversityBox {
  display: none;
}

.alert {
  border-radius: 0;
}

.alert-success {
  border: 3px solid darkgreen;
}
