
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.logoutButton {
  margin-top: 6px;
}

.optionInfo {
  color: #0b0;
}

.addUniversityLabel {
  margin-left: 4%;
}

.addUniversityInput {
  min-width: 70%;
  margin-left: 1%;
}

.addUniversity {
  margin-bottom: 28px;
}

.universityTitle {
  font-size: 18px;
}

.instructorRespondentCount {
  display: inline-block;
  font-size: 14px;
}

.instructorOptionList {
  padding: 4px 5px 4px 15px;

}


.instructorOptionList:hover {
  background: #eee;
}

.newInstructorField {
  min-width: 25%;
}